<!DOCTYPE html>
<html>
  <head>
    <title>Upload Image</title>
    <link rel="stylesheet" type="text/css" href="../static/upload.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="one">
  <div class="inside">
     {% if msg %}
    <h1 class="msg">{{ msg }}</h1>
    {% endif %}
    
    <div class="heading">Upload new File
    </div>
    
    <form method=post enctype=multipart/form-data>
      <input type=file name=file class="haha"><br/>
         <input type=submit value=Upload class="btn">
    </form>
    </div>
</div>


    <h1>Result:</h1>
    {% if img_src %}
      <img src="{{ img_src }}">
    {% endif %}
    
    {% if extracted_text %}
      <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
    
    {% else %}
      The extracted text will be displayed here
    {% endif %}
  </body>
</html>
    
